* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  --orange: #f7931a;
  --soft-orange: #ffe9d5;
  --blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #282623;
  --black: #201e1c;
  --gray: #bababa;
  --off-white: #faf8f7;
  --white: #fff;
}

html {
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif; 
}

header {
  width: 100%;
  min-width: 320px;
  height: 334px;
  
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  text-align: center;
  background: linear-gradient(207.8deg, var(--warm-black) 16.69%, var(--orange) 100%);
}

header img {
  width: 150px;
  height: 24px;

  margin-top: 60px;
  align-self: center;
}

.header__title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;

  margin-top: 50px;
  text-align: center;
  align-self: center;
}

.header__title-container h1 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: var(--white);
}

.header__title-container p {
  margin-top: 24px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
}

.header__title-container .header__button {
  width: 229px;
  height: 48px;

  position: absolute;
  left: calc(50% - 114.5px);
  top: 270px;
  display: block;
  margin-top: 35px;
  padding: 15px 16px;
  
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--warm-black);

  background-color: var(--off-white);
  /* Shadow */
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 4px;
}

.header__button span {
  display: inline-block;
  width: 12px;
  height: 8px;
  margin-left: 14px;
  background-image: url("https://gist.githack.com/CabosManuel/e85ff4f45b2a9a8c6ce7decb14b2ae84/raw/9768cf9d9734ef34a7125d0c2c9b6d38934609c7/down-arrow.svg");
}

main {
  min-width: 320px;
  width: 100%;
  height: auto;
  background-color: var(--off-white);
  
}

.main__exchange-container {
  width: 100%;
  height: auto;
  padding-top: 59px;
  padding-bottom: 48px;
  text-align: center;
}

.main__exchange-container__title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}

.main__exchange-container .background-img {
  width: 195px;
  height: 195px;
  margin: 0 auto;
  margin-bottom: 40px;
  
  background-image: url("https://gist.githack.com/CabosManuel/a41b3dab2c254fc174e2fd43e1427a36/raw/914acbe390170988cbc810bf63057774db954741/bitcoin.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main__exchange-container h2 {
  margin-bottom: 24px;
  
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: var(--warm-black);
}

.main__exchange-container p {
  margin-bottom: 48px;

  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}